*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a{
    font-size: 40px;
    font-weight: 800;
    float: left;
    font-family: Stencil;
    color: #CB80AB;
}
.menu {
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:2px solid #CB80AB ;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
section {
    margin :auto;
    display: flex;
    margin-bottom:  70px;
}
.kolom {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px; 
    padding-left: 100px;
}
.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';

}
h2 {
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #CB80AB;
    width: 100%;
    line-height: 50px;
}
a.tbl-biru{
    background: #FFB0B0;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-biru:hover{
    background: #CB80AB;
    text-decoration: none;
}
a.tbl-pink{
    background: #FFB0B0;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-pink:hover{
    background: #CB80AB;
    text-decoration: none;
}
p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}
.img{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.text-center{
    display: grid;
    place-items: center;
    justify-content: center;
    color: #CB80AB;
}
.comment-box{
    top: 115%;
    left: 25%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 500px;
    
}
.comment-box h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.comment-box input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #CB80AB;
}
.comment-box input:focus{
    border: 1px solid #000;
    outline: 0;
}
.comment-box textarea{
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #CB80AB;
}
.comment-box textarea:focus{
    border: 1px solid #000;
    outline: 0;
}
.comment-box button{
    border: 0;
    padding: 10px 30px;
    margin-bottom: 100px;
    background: #FFB0B0;
    font-size: 22px;
    border-radius: 5px;
    color: #fff;

}
.comment-box button:hover{
    background-color: #CB80AB;
}